*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 4rem;
}

a{
    text-decoration: none;
}

#Header{
    z-index: 11111111111111111111;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}

.header-all{
    display: flex;
    align-items: center;
}

.logo{
    width: 15%;
}

.logo img{
    width: 100%;
}

.book-now{
    background-color: #BA71DA;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
}

.navbar{
    width: 75%;
    text-align: center;
}

.navbar a{
    color: #fff;
    font-size: 1rem;
    margin: 0 10px;
}

.menu{
    width: 10%;
    text-align: right;
}

.menu i{
    font-size: 20px;
    color: #fff;
}


#First {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10rem 0;
    background-attachment: fixed;
}

.first-text h1{
    font-size: 60px;
    color: #fff;
}


.first-text h3{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

#First form{
    margin-top: 30px;
    background-color: #fff;
    width: 30%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 15px 10px;
}

form select{
    background-color: transparent;
    border: none;
    width: 90%;
    outline: none;
    color: gray;
}

form i{
    color: gray;
}

.first-all{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 30px auto 0;
}

.first-all .box{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.20);
}

.first-all .box img{
    width: 50%;
}

.first-all .box p{
    color: #fff;
    margin-top: 10px;
}

#Second{
    padding: 5rem 0;
}

.second-text{
    text-align: center;
    margin-bottom: 40px ;
}

.second-text h4{
    font-weight: 100;
}

.second-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-all .box{
    width: 30%;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
    clip-path: polygon(0 21%, 100% 0, 100% 79%, 0% 100%);

}

.second-all .box img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    transition: .5s;
    transform: scale(1.2);
}

.second-all .box:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.second-all .box:hover img{
    filter: grayscale(1);
    transform: scale(1);
}

#Next{
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-search-2.jpg?id=1538);
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    background-attachment: fixed;
}

.next-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.next-text h1{
    font-size: 50px;
    color: #fff;
}

.next-text a{
    background-color: #fff;
    color: red;
    border-radius: 30px;
    padding: 14px 50px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.container{
    padding: 0 6rem;
}

a{
    text-decoration: none;
}

#Third{
    padding: 40px 0 20px;
}

#Third .Yevlakh{
    display: flex;
    justify-content: space-between;
    margin: 20px 0; 
    height: 410px;   
}

#Third .left{
    width: 32%;
}

#Third .left h3{
    color: black;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 10px;
}

#Third .left h2{
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-bottom: 32px;
}

#Third .left p{
    font-size: 17px;
    line-height: 27px;
    color: gray;
    margin-bottom: 20px;
}

#Third .rigth{
    width: 50%;
}

#Third .rigth img{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#Third h1{
    color: gray;
    font-weight: normal;
    margin-bottom: 45px;
}

#Third .span1{
    color: #e0dcdc;
    text-decoration: line-through;    
}

#Third .span2{
    font-size: 14px;
}

#Third a{
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: rgb(27,188,55);
    padding: 15px 35px;
    color: #ffffff;
}
#Fourth{
    padding: 60px 0;
}

#Fourth .boxs-all{
    display: flex;
    justify-content: space-between;
}

#Fourth .box {
    width: 30%;
    display: flex;
    justify-content: space-between;    
}

#Fourth .box .left{
    width: 13%;
}

#Fourth .box .left img
{
    width: 100%;
}

#Fourth .box .rigth{
    width: 82%;
}

#Fourth .rigth h3{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 24px;
    color: #555555;    
    margin-bottom: 20px;
}

#Fourth .rigth p{
    font-size: 17px;
    line-height: 27px;
    color: #878787;
    margin-bottom: 20px;
}

#Fourth .rigth a{
    font-size: 14px;
    line-height: 14px;
    border: 0px solid;
    color: #14b9d5;    
    letter-spacing: 1px;
}

#Fifth .boxs{
    display: flex;
    text-align: center;
}

#Fifth .left{    
    width: 50%;
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-5-filter.jpg?id=1584);
    background-position: center;
    background-size: cover;    
    padding: 60px 0;
}

#Fifth .rigth{
    width: 50%;
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-6-filter.jpg?id=1585);
    background-position: center;
    background-size: cover;    
    padding: 60px 0;
}

#Fifth .boxs h3{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 10px;
}

#Fifth .boxs h2{
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

#Fifth .boxs a{
    border-radius: 38px;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 15px 35px;
    font-weight: normal;
}

#Fifth .boxs #a1{
    color: #f3a46b;
}

#Fifth .boxs #a2{ 
    color: #1bbc9b;
}

#Sixth{
    margin: 60px 0;    
}

#Sixth .pack-text{
    text-align: center;
}

#Sixth .pack-text h3{
    color: #9a9a9a;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 20px;
}

#Sixth .pack-text h2{
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 40px;
}

#Sixth .boxs{
    display: flex;
    justify-content: space-between;
}

#Sixth .box{
    width: 32%;
    border: 1px solid #e4e4e4;
}

#Sixth .box .top img{
    width: 100%;
}

#Sixth .box .bottom{
    padding: 30px;
}

#Sixth .box .bottom h3{
    color: #555555;
    font-weight: bold;
}
#Sixth .box .bottom .img{
    display: flex;
    margin: 5px 0;
    align-items: center;   
    padding-bottom: 15px; 
    border-bottom: 1px solid #e4e4e4;
}

#Sixth .box .bottom img{
    width: 5%;
}

#Sixth .box .bottom .img h5{
    color: #9a9a9a;
    font-weight: normal;
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 15px;
}

#Sixth .box .bottom h6{
    color: #555555;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 13px;
}
#Sixth .box .bottom>h6{
    padding-top: 10px;
}

#Sixth .box .bottom .relax{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-bottom: 1px solid #e4e4e4;  
    padding-bottom: 15px; 
}

#Sixth .box .bottom .relax h6 span{
    border-radius: 30px;
    line-height: 14px;
    font-size: 10px;
    padding: 2px 10px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 7px;
}

#Sixth .box .bottom .relax h2{
    color: #555555;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
}

#Sixth .box .bottom p{
    color: #9a9a9a;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 1px;
    margin: 20px 0;
}

#Sixth .box .bottom .relax h2 span{
    background-color: none;
    color: #9a9a9a;
    text-decoration: line-through;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}

#Sixth .box .bottom a{    
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1px;
}

#Sixth .box .bottom #color1{
    background-color: #ffd205;
}

#Sixth .box .bottom #color2{
    background-color: #f76570;
}

#Sixth .box .bottom #color3{
    background-color: #ba71da;
}